# **Kelompok 1**
1. Ferna Marestiani         1800015008
2. Mirza Yuniar Renardi     1800015063
3. Resti Pamuji             1800015071
4. Shinta Nurul K           1800015100
5. Hanifah Septianingrum    1800015101
6. Winda Anggraeni          1800015108

---

#**BASIC PYTHON**

# **TIPE DATA**

**Python**

Python adalah bahasa pemrograman interpretatif multiguna yang sederhana dan mudah dimengerti. Python dapat di gunakan dalam pengembangan web, machine learning, pemrosesan statistik, dan banyak lagi.

**Tipe Data**

Tipe data adalah kumpulan suatu media yang menampung informasi dan ditemukan di semua data. Dengan memahami tipe data, kita dapat menentukan nilai data yang dimiliki dari data tersebut.

**Mengenal Beberapa Tipe Data Pada Python:**

In [ ]:
#Tipe Data Boolean
print(True)

True

In [ ]:
#Tipe Data String
print("Ayo belajar Python")
print('Belajar Python Bersama Kelompok 1')

Ayo belajar Python
Belajar Python Bersama Kelompok 1

In [ ]:
#Tipe Data Integer
print(14)

14

In [ ]:
#Tipe Data Float
print(3.14)

3.14

In [ ]:
#Tipe Data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])

[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']

In [ ]:
#Tipe Data Tuple
print((1,3,5,7,9))
print(("satu", "dua", "tiga"))

(1, 3, 5, 7, 9)
('satu', 'dua', 'tiga')

In [ ]:
#Tipe Data Dictionary
print({"nama":"Budi", 'umur':20})

{'nama': 'Budi', 'umur': 20}

# **List Pada Python**
List adalah jenis kumpulan data yang terurut (ordered sequence). Elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan tanda koma.

**Membuat List**

List dapat diisi dengan tipe data apa saja, string, integer, float, double, boolean, object, dan sebagainya.

In [ ]:
# contoh 1
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
print(bunga)

#contoh 2
umur = ["Ayah", 48, True, 19.68]
print(umur)

['mawar', 'melati', 'kenanga', 'matahari', 'anggrek']
['Ayah', 48, True, 19.68]

**Mengakses elemen list** 

Elemen list dapat diakses dengan indeks. Untuk mengakses elemen list, gunakan fungsi print

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
print(bunga[1])
print(bunga[-4])
print(bunga[2:])
print(bunga[0:3:2])
print(bunga[-3:-1])

melati
melati
['kenanga', 'matahari', 'anggrek']
['mawar', 'kenanga']
['kenanga', 'matahari']

**Mengubah elemen list**

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
bunga[2] = "sepatu"
print(bunga)

['mawar', 'melati', 'sepatu', 'matahari', 'anggrek']

**Looping di dalam list **

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
for y in bunga:
  print(y)

mawar
melati
kenanga
matahari
anggrek

**Cek elemen list**

akan dicek, apakah elemen termasuk kedalam list

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
if "anggrek" in bunga:
  print("ada dalam bunga")

ada dalam bunga

**Menghitung jumlah elemen list**

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
print(len(bunga))

5

# Metode List Pada Python

**Menambah elemen list**

Terdapat 3 cara untuk menambahkan elemen pada list, yaitu :
1. menggunakan metode append() 
2. menggunakan metode extend([])
2. menggunakan metode insert()

1. Metode append() yaitu menambahkan elemen baru di akhir list.

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
bunga.append('kamboja')
print(bunga)

['mawar', 'melati', 'kenanga', 'matahari', 'anggrek', 'kamboja']

2. Method extend() berfungsi sama seperti append() yakni untuk menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual. Agar hasilnya tidak terpisah, kita dapat membatasi string tersebut dengan tanda kurung siku ([])

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
bunga.extend('kamboja')
print(bunga)

['mawar', 'melati', 'kenanga', 'matahari', 'anggrek', 'k', 'a', 'm', 'b', 'o', 'j', 'a']

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
bunga.extend(['kamboja'])
print(bunga)

['mawar', 'melati', 'kenanga', 'matahari', 'anggrek', 'kamboja']

3. Method insert() digunakan apabila kita ingin menyisipkan elemen baru di list pada indeks tertentu.

  misalkan, saya ingin menambahkan bunga sepatu pada indeks ke-2, maka

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
bunga.insert(2, 'sepatu')
print(bunga)

['mawar', 'melati', 'sepatu', 'kenanga', 'matahari', 'anggrek']

**Menghapus elemen List**

Terdapat beberapa cara untuk menghapus elemen list, diantaranya :
1. menggunakan keyword del
2. menggunakan metode remove()
3. menggunakan metode pop()
4. menggunakan metode clear()

1. Menggunakan keyword del. Perintah del merupakan salah satu cara menghapus list berdasarkan indeks .

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
del bunga [3]
print(bunga)

['mawar', 'melati', 'kenanga', 'anggrek']

2. Metode remove. Method remove() akan menghapus item di dalam sebuah list berdasarkan nama item atau elemen tersebut.

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
bunga.remove("kenanga")
print(bunga)

['mawar', 'melati', 'matahari', 'anggrek']

3. jika kita ingin menghapus elemen list berdasarkan indeks, kita bisa menggunakan method pop().

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
bunga.pop(3)
bunga.pop()
print(bunga)

['mawar', 'melati', 'kenanga']

4. jika ingin menghapus seluruh elemen pada list, dapat digunakan methode clear()

In [ ]:
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
bunga.clear()
print(bunga)

[]

**Mengcopy List**

copy list
ada 2 cara untuk copy list
1. menggunakan metode copy()
2. menggunakan metode list()

In [ ]:
# COPY
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
flower = bunga.copy()
print(bunga)

['mawar', 'melati', 'kenanga', 'matahari', 'anggrek']

In [ ]:
# LIST
bunga = ["mawar", "melati", "kenanga", "matahari", "anggrek"]
flower = list(bunga)
print(bunga)

['mawar', 'melati', 'kenanga', 'matahari', 'anggrek']

**Menggabung List**

cara menggabungkan 2 list
1. menggunakan tanda +
2. menggunakan metode append()
3. menggunakan metode extend()

In [ ]:
#menggnakan tanda +
nama = ["Nana", "Nabi", "Nina"]
berat_badan = [45, 39, 50]
hasil = nama + berat_badan
print(hasil)

['Nana', 'Nabi', 'Nina', 45, 39, 50]

In [ ]:
#menggunakan metode append
nama = ["Nana", "Nabi", "Nina"]
berat_badan = [45, 39, 50]
for x in berat_badan:
  nama.append(x)
print(nama)

['Nana', 'Nabi', 'Nina', 45, 39, 50]

In [ ]:
#menggunakan metode extend
nama = ["Nana", "Nabi", "Nina"]
berat_badan = [45, 39, 50]
nama.extend(berat_badan)
print(nama)

['Nana', 'Nabi', 'Nina', 45, 39, 50]

#**String Python**

**String Literal**

String literal dalam python dikelilingi oleh tanda kutip tunggal, atau tanda kutip ganda.

‘Hello’ sama dengan “Hello”.

Untuk menampilkan literal string dapat dilakukan dengan fungsi print().

In [ ]:
#Kita dapat menggunakan tanda kutip ganda atau tunggal:

print("Hello")
print('Hello')

**Tetapkan String ke Variabel**

Menetapkan string ke variabel dilakukan dengan nama variabel diikuti dengan tanda sama dengan dan string.

In [ ]:
a = "Hello"
print(a)

Hello

**String Multiline**

Untuk menetapkan string multiline ke variabel dapat dilakukan dengan menggunakan tiga tanda kutip.

Contoh:
Kita dapat menggunakan tiga tanda kutip ganda atau tiga tanda kutip tunggal

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Catatan: Hasilnya jeda baris disisipkan pada posisi yang sama seperti di kode.

**String adalah Array**

Seperti kebanyakan bahasa pemrograman populer lainnya, string dalam Python adalah array byte yang mewakili karakter unicode. Namun, Python tidak memiliki tipe data karakter, satu karakter hanyalah string dengan panjang 1.

Tanda kurung siku dapat digunakan untuk mengakses elemen string.

Contoh:
Dapatkan karakter di posisi 1 (ingat bahwa karakter pertama memiliki posisi 0).

In [ ]:
a = "Hello, World!"
print(a[1])

e

**Mengiris**

Python dapat mengembalikan berbagai karakter dengan menggunakan sintaks slice.

Tentukan indeks awal dan indeks akhir, dipisahkan oleh titik dua, untuk mengembalikan bagian dari string.

Contoh:
Dapatkan karakter dari posisi 2 ke posisi 5 (tidak termasuk)

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

Pengindeksan Negatif

Gunakan indeks negatif untuk memulai potongan dari ujung string

Contoh:
Dapatkan karakter dari posisi 5 ke posisi 1 (tidak termasuk), mulai hitungan dari akhir string

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

**Panjang String**

Untuk mendapatkan panjang string, gunakan fungsi len().

Contoh:
Fungsi len() mengembalikan panjang string

In [ ]:
a = "Hello, World!"
print(len(a))

13

**Metode String**

Python memiliki seperangkat metode bawaan yang dapat digunakan pada string.

Contoh:
Metode strip() menghapus spasi apa pun dari awal atau akhir

In [ ]:
a = " Hello, World! "
print(a.strip())

Hello, World!

Metode lower() mengembalikan string dalam huruf kecil

In [ ]:
a = " Hello, World! "
print(a.lower())

 hello, world!

Metode upper() mengembalikan string dalam huruf besar

In [ ]:
a = " Hello, World! "
print(a.upper())

 HELLO, WORLD!

Metode replace() menggantikan string dengan string lain

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Metode split() membagi string menjadi beberapa substring jika menemukan contoh pemisah

In [ ]:
a = "Hello, World!"
b = a.split(",")
print(b)

['Hello', ' World!']

**Periksa String**

Untuk memeriksa apakah frase atau karakter tertentu ada dalam sebuah string, kita dapat menggunakan kata kunci in atau not in.

Contoh:
Periksa apakah frase “an” ada dalam teks berikut

In [ ]:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "an" in txt
print(x)

True

Periksa apakah frase “an” TIDAK ada dalam teks berikut

In [ ]:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "an" in txt
print(x)

True

**Penggabungan String**

Untuk menggabungkan dua string dapat menggunakan operator +.

Contoh:
Gabungkan variabel a dengan variabel b menjadi variabel c

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Untuk menambahkan spasi di antara keduanya, tambahkan “”

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**Format String**

Seperti yang kita pelajari di bab Variabel Python, kita tidak bisa menggabungkan string dan angka seperti ini.

In [ ]:
usia = 36
txt = "Namaku John dan aku" + age
print(txt)

Tapi kita bisa menggabungkan string dan angka dengan menggunakan metode format()!

Metode format() mengambil argumen yang diteruskan, memformatnya, dan menempatkannya dalam string di mana placeholder {} berada.

Contoh:
Gunakan metode format() untuk memasukkan angka ke dalam string

In [ ]:
age = 36
txt = "Namaku John, dan aku {}"
print(txt.format(age))

Namaku John, dan aku 36

Metode format() mengambil jumlah argumen yang tidak terbatas, dan ditempatkan ke dalam placeholder masing-masing

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "Aku ingin {} pasang barang {} untuk {} dollars."
print(myorder.format(quantity, itemno, price))

Aku ingin 3 pasang barang 567 untuk 49.95 dollars.

Anda bisa menggunakan nomor indeks {0} untuk memastikan argumen ditempatkan di placeholder yang benar:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "Aku ingin membayar {2} dollars untuk {0} pasang barangg {1}."
print(myorder.format(quantity, itemno, price))

Aku ingin membayar 49.95 dollars untuk 3 pasang barangg 567.

**Karakter Escape**

Untuk menyisipkan karakter yang ilegal dalam sebuah string, gunakan karakter escape.

Karakter escape adalah backslash \ diikuti dengan karakter yang ingin disisipkan.

Contoh karakter ilegal adalah tanda kutip ganda di dalam string yang diapit tanda kutip ganda.

Contoh:
Ini akan menghasilkan kesalahan jika kita menggunakan tanda kutip ganda di dalam string yang dikelilingi oleh tanda kutip ganda.

In [ ]:
txt = "Kita adalah yang bernama "Vikings" dari utara."


#Ini akan menghasilkan kesalahan jika kita menggunakan tanda kutip ganda di dalam string yang dikelilingi oleh tanda kutip ganda.

Untuk memperbaiki masalah ini, gunakan karakter escape \ “:

In [ ]:
txt = "Kita adalah yang bernama \"Vikings\" dari utara."

Karakter escape lain yang digunakan di Python:

![Capture1.PNG]()

#**Tuple**

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
b = (5,'BIGDATA', 1+3j)
b

(5, 'BIGDATA', (1+3j))

Seperti list, kita dapat melakukan slicing, namun pada tuple kita tidak dapat melakukan perubahan:

In [ ]:
b = (5,'BIGDATA', 1+3j)
print(b[1])
print(b[0:3])

BIGDATA
(5, 'BIGDATA', (1+3j))

In [ ]:
b = (5, 6, 7,'BIGDATA')
print (b)
print(b[1])
del[]

(5, 6, 7, 'BIGDATA')
6

In [ ]:
b = (5, 6, 7,'BIGDATA')
print (b)
print(b[2])
del[]

(5, 6, 7, 'BIGDATA')
7

In [ ]:
b = (7,'BIGDATA', 1+5j)
b

(7, 'BIGDATA', (1+5j))

In [ ]:
b = (7,'BIGDATA', 1+5j)
print(b[1])
print(b[0:5])

BIGDATA
(7, 'BIGDATA', (1+5j))

In [ ]:
b = (7, 8, 9,'BIGDATA')
print (b)
print(b[1])
del[]

(7, 8, 9, 'BIGDATA')
8

# **Dictionary Python**

**Pengertian Dictionary**

Dictionary adalah tipe data pada python yang berfungsi untuk menyimpan kumpulan data/nilai dengan pendekatan “key-value”.

**Sifat Dictionary Item**

Dictionary items memiliki 3 sifat, yaitu:

1.   Unordered ( Tidak Berurutan)
2.   Changeable ( Dapat Diubah)
3.   Unique ( Tidak Bisa Menerima Dua Key yang Sama )

Contoh :

In [ ]:
artikel = {
  "judul": "Menu Masakan Enak",
  "judul": "Menu Masakan Enak Tradisional"
}

print(artikel.get("judul"))

Menu Masakan Enak Tradisional

**Tipe Data pada Items Dictionary**

Selain 3 sifat yang telah disebutkan, item pada dictionary juga bisa menerima berbagai macam tipe data, mulai dari tipe data asli mau pun tipe data terusan seperti objek.

Yang artinya, dictionary juga bisa memiliki value berupa dictionary juga.

In [ ]:
pertemuan_hari_ini = {
  "judul": "Belajar Dictionary Pada Python ",
  "tanggal": "22 Oktober 2021",
  "kategori": [
    "Python", "Python Dasar"
  ],
}

**Cara Membuat Dictionary**

In [ ]:
# cara pertama
senam = {
  "judul": "Senam Poco-Poco",
  "instruktur": "Resti"
}

# cara kedua
senam = dict(
  judul="Senam Poco-Poco",
  instruktur="Resti"
)

**Cara Mengakses Item pada Dictionary**

In [ ]:
dict = {
    "Nama" : "Resti Pamuji",
    "Prodi": "Matematika",
    "NIM"  : "1800015071"
    }

print ('Nama :', dict.get('Nama'))
#atau
print ('Prodi :', dict['Prodi'])

**Perulangan Untuk Dictionary**

In [ ]:
buku = {
  'judul': 'Jika Kita Tak Pernah Jadi Apa-Apa ',
  'penulis': 'Alvi Syahrin'
}
for key in buku:
  print(key, '->', buku[key])

Atau bisa juga memanggil fungsi dictionary.items()

In [ ]:
for nama_atribut, nilai in buku.items():
  print(nama_atribut, '->', nilai)

**Mengubah Nilai Item**

In [ ]:
dict= {'Buah' : 'Pisang' , 'Sayur' : 'Kangkung' , 'Jumlah' : 10 }
dict['Bukan Buah'] = 'Kangkung' #Mengubah entri atau value yang sudah ada
dict['Buah'] = 'Jeruk' #Menambah entri atau value
print("dict[Bukan Buah] =", dict['Bukan Buah']);
print("dict[Buah] =", dict['Buah']);

**Menambah Item**

In [ ]:
thisdict = {'Nama': 'Zaza', 'Umur': 17}

thisdict['Hobi'] = "Menyanyi" # Menambah entri baru pada thisdict

print (thisdict)

In [ ]:
thisdict = {'Nama': 'Zaza', 'Umur': 17}

thisdict.update ({"Hobi": "Menyanyi"}) # Menambah entri baru pada thisdict

print (thisdict)

**Menghapus Item**

Untuk menghapus item yang ada pada Dictionary, kita bisa menggunakan perintah del, method pop(), method popitem(), dan method clear().

1. Fungsi del adalah fungsi untuk menghapus suatu variabel dari memori.

2. Method pop() adalah method yang berfungsi untuk mengeluarkan item yang diinginkan dari dictionary.

3. Method popitem() adalah method yang digunakan untuk menghapus item yang terakhir.

4. Method clear() adalah method yang digunakan untuk mengosongkan dictionary.

In [ ]:
# Menghapus item menggunakan del
mahasiswa = {
  'nama': 'Irva Rani',
  'usia': 18,
  'asal': 'Indonesia'
}

del mahasiswa["usia"]

print(mahasiswa)

In [ ]:
# Menghapus item menggunakan method pop()
mahasiswa = {
  'nama': 'Irva Rani',
  'usia': 18,
  'asal': 'Indonesia'
}

mahasiswa.pop("asal")

print(mahasiswa)

In [ ]:
#Menghapus item menggunakan method popitem()
mahasiswa = {
  'nama': 'Irva Rani',
  'usia': 18,
  'asal': 'Indonesia'
}

mahasiswa.popitem()

print(mahasiswa)

In [ ]:
#Menghapus item menggunakan method clear()
mahasiswa = {
  'nama': 'Irva Rani',
  'usia': 18,
  'asal': 'Indonesia'
}

mahasiswa.clear()

print(mahasiswa)

**Menyalin Dictionary**

Untuk menyalin dictionary bisa menggunakan method copy().

In [ ]:
mahasiswa = {
  'nama': 'Irva Rani',
  'usia': 18,
  'asal': 'Indonesia'
}

myname=mahasiswa.copy()

print(myname)

**Nested Dictionary**

Nested Dictionary atau kamus bertingkat merupakan suatu kamus yang mana kamus tersebut bisa diisi dengan satu atau lebih kamus di dalamnya.

In [ ]:
myfamily = {
  "anak1" : {
    "nama" : "Resti",
    "tahun" : 2004
  },
  "anak2" : {
    "nama" : "Ferna",
    "tahun" : 2007
  },
  "anak3" : {
    "nama" : "Mirza",
    "tahun" : 2011
  }
}

print(myfamily)

atau membuat suatu Kamus yang akan berisi 3 kamus lainnya

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

**Mengecek Keanggotaan Suatu Key**

Untuk menentukan apakah kunci tertentu ada dalam Dictionary gunakan in sebagai kunci

In [ ]:
anak = {
  'anak1': 'Resti',
  'anak2': 'Ferna',
  'anak3': 'Mirza'
}
if "anak2" in anak :
  print("Yes, 'anak2' adalah salah satu dari kunci dalam distict dictionary")

**Panjang atau Banyak Key Pada Dictionary**

kita bisa juga menghitung jumlah key yang terdapat pada sebuah dictionary dengan fungsi len().

In [ ]:
sekolah = {
  'nama': 'Sekolah Dasar Negeri Surabaya 1',
  'jenjang': 'Sekolah Dasar',
  'akreditasi': 'A'
}

print(
  "Jumlah atribut variabel sekolah adalah:",
  len(sekolah)
)

# **Operator Matematika**

**Operator Aritmatika**

![aritmatik.png]()

In [ ]:
# Ambil input untuk mengisi nilai
a = int(input("Inputkan nilai a: "))
b = int(input("Inputkan nilai b: "))
# Menggunakan operator penjumlahan
c = a + b
print("Hasil %d + %d = %d" % (a,b,c))

# Operator Pengurangan
c = a - b
print("Hasil %d - %d = %d" % (a,b,c))

# Operator Perkalian
c = a * b
print("Hasil %d * %d = %d" % (a,b,c))

# Operator Pembagian
c = a / b
print("Hasil %d / %d = %d" % (a,b,c))

# Operator Sisa Bagi
c = a % b
print ("Hasil %d %% %d = %d" % (a,b,c))

# Operator Pangkat
c = a ** b
print("Hasil %d ** %d = %d" % (a,b,c))

# Operator Pembagian Bulat
c = a // b
print("Hasil %d // %d = %d" % (a,b,c))

**Operator Penugasan**

Operator penugasan digunakan untuk memberikan atau memodifikasi nilai ke dalam sebuah variabel

![penugasan.png]()

In [ ]:
# Ambil input untuk mengisi nilai
a = int(input("Inputkan nilai a: "))

# tambahkan dengan 2
a += 2
print ("Nilai a adalah %d" % a)
# kurangi 3
a -= 3
print ("Nilai a adalah %d" % a)
# kali 10
a *= 10
print ("Nilai a adalah %d" % a)
# bagi dengan 4
a /= 4
print ("Nilai a adalah %d" % a)
# pangkat 10
a **= 10
print ("Nilai a adalah %d" % a)
# Berapakah nilai a sekarang?
print ("Nilai a sekarang adalah %d" % a)

**Operator Pembanding**

Operator perbandingan (comparison operators) digunakan untuk membandingkan suatu nilai dari masing-masing operan. Operator ini digunakan untuk membandingkan dua buah nilai. Operator ini juga dikenal dengan operator relasi dan sering digunakan untuk membuat sebuah logika atau kondisi

![pembanding.png]()

In [ ]:
a = int(input("Inputkan nilai a: "))
b = int(input("Inputkan nilai b: "))

# apakah a sama dengan b?
c = a == b
print("Apakah %d == %d: %r" % (a,b,c))

# apakah a < b?
c = a < b
print("Apakah %d < %d: %r" % (a,b,c))
# apakah a > b?
c = a > b
print("Apakah %d > %d: %r" % (a,b,c))

# apakah a <= b?
c = a <= b
print("Apakah %d <= %d: %r" % (a,b,c))

# apakah a >= b?
c = a >= b
print("Apakah %d >= %d: %r" % (a,b,c))

# apakah a != b?
c = a != b
print ("Apakah %d != %d: %r" % (a,b,c))

**Operator Logika**

Operator logika digunakan untuk membuat operasi logika, seperti logika AND, OR, dan NOT.

![logika.png]()

In [ ]:
a = True
b = False

# Logika AND
c = a and b
print ("%r and %r = %r" % (a,b,c))

# Logika OR
c = a or b
print ("%r or %r = %r" % (a,b,c))

# Logika Not
c = not a
print ("not %r  = %r" % (a,c))