<a href="https://colab.research.google.com/github/fawazdhianabil/Subject-Big-Data/blob/main/Function%26Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



#Topic Materi: Function & Lambda Pada Python

##Function in Python

###Apa itu Function pada Python?



*   Pengertian Fungsi (def) pada Phyton.


fungsi pada phyton adalah kumpulan perintah atau baris code yang dikelompokkan menjadi satu kesatuan untuk kemudian bisa dipanggil atau digunakan berkali-kali. sebuah fungsi bisa menerima parameter, bisa mengembalikkan suatu nilai, dan bisa dipanggil  berkali-kali secara independen. fungsi akan membuat kode program menjadi lebih “reusable” dan lebih terstruktur.



*   Sintaks Fungsi.

di dalam python, sintaks pembuatan fungsi terlihat sebagai berikut :

In [ ]:
def<nama_fungsi>(parameters):
  statements

sintaks di atas secara umum terbagi menjadi 4 bagian :
 
1.  Kata kunci def yang menjadi pertanda bahwa blok kode program adalah sebuah fungsi
2.   Nama fungsi yang kita buat
3. Parameters yang akan diterima oleh fungsi yang kita buat(tidak wajib)
4. Dan blok kode fungsi yang di sana akan kita tulis perintah-perintah yang harus dilakukan oleh sebuah fungsi

Contoh sebuah fungsi sederhana dengan nama halo_dunia():

In [ ]:
def hallo_dunia():
  print('Hallo Phyton! Hallo Dunia')
hallo_dunia()

###Contoh Function Bawaan pada Python

Pada phyton fungsi bawaan terdapat sekitar 69 fungsi bawaan, disini akan di ambil beberapa contohnya, sebagai berikut :


*   abs() yang memiliki kegunaan mengubah suatu bilangan ke bentuk absolut

In [ ]:
abs(-100)



*   bin() yang memiliki kegunaan mengubah integer ke biner

In [ ]:
bin(2500)



*   float() yang memiliki kegunaan menghasilkan nilai float dari bilangan atau string bilangan

In [ ]:
float('1e-3')


*   help() yang memiliki kegunaan memanggil sistem bantuan bawaan python

In [ ]:
help(print)


*   input() yang memiliki kegunaan membaca masukan dan mengembalikannya

In [ ]:
input_string = input('Masukkan string: ')
print('String yang dimasukkan adalah:', input_string)


*   print() yang memilki kegunaan mencetak atau menampilkan objek yang diberikan

In [ ]:
print('Belajar Phyton')

###User Defined Function

User defined function adalah fungsi yang dibuat sendiri oleh programmer.

Berikut format dasar cara pendefinisian fungsi dalam bahasa Python:

In [ ]:
def nama_function():
  #isi function disini....
  #isi function disini....
  return nilai

Untuk membuat fungsi, awali dengan keyword def lalu diikuti dengan nama fungsinya. Penulisan namaFunction sebenarnya boleh bebas, selama mengikuti aturan penulisan identifier yakni tidak boleh di awali angka dan tidak boleh mengandung spasi.
Nama fungsi sebaiknya ditulis dengan huruf kecil semua dan menggunakan spasi / underscore sebagai pemisah kata. Aturan penamaan ini sering disebut sebagai snake_case.

Setelah penulisan nama_function, terdapat tanda kurung ” () “. Nantinya tanda kurung ini bisa diisi dengan parameter atau argumen. Baris pertama diakhir dengan tanda titik dua ” : ” untuk memulai kode program isi function.

Isi function berada dalam blok kode program Python yang di-indent atau di jorokkan beberapa spasi atau tab ke arah dalam. Jika fungsi tersebut mengembalikan nilai, maka jalankan perintah return seperti di baris 4.

Ketika sebuah function di definisikan, function tersebut belum berjalan. Agar bisa berjalan, sebuah function harus “dipanggil” dengan cara menulis nama fungsi tersebut.

Contoh format dasarnya:

In [ ]:
def nama_function():
  #isi function disini....
  #isi function disini....
  return nilai

nama_function()

Contoh :

In [ ]:
def sapa_Indonesia():
  print('Halo Indonesia')

sapa_Indonesia()

###Keyword/Parameter & Argument

Sebuah fungsi juga bisa menerima parameter ataupun argumen. Ia merupakan suatu nilai/variabel yang dilemparkan ke dalam fungsi untuk diproses lebih lanjut.

In [ ]:
Halo Nurul, selamat datang!
Halo Lendis, selamat datang!
Halo Fabri, selamat datang!
Halo Isa, selamat datang!

Untuk melakukan 4kali print seperti di atas sekaligus, kita dapat memanfaatkan fungsi dan parameter pada Python.

Sehingga kode programnya akan terlihat sebagai berikut:

In [ ]:
def selamat_datang (nama):
  print(f'Halo {nama}, selamat datang!')

selamat_datang('Nurul')
selamat_datang('Lendis')
selamat_datang('Fabri')
selamat_datang('Isa')

####PARAMETER WAJIB

Parameter di dalam Python bisa lebih dari satu, bisa wajib (harus diisi), atau bersifat opsional.

Perhatikan contoh fungsi berikut:

In [ ]:
def perkenalan(nama, asal):
  print(f'Perkenalkan saya {nama} dari {asal}')

perkenalan('Tiara', 'Yogyakarta')

####PARAMETER OPSIONAL (Default)

Parameter opsional adalah parameter yang seandainya tidak diisi, dia sudah memiliki nilai default.

Contoh:

In [ ]:
def suhu_udara (daerah, derajat, satuan = 'celcius'):
  print(f'Suhu di {daerah} adalah {derajat} {satuan}')

Dua parameter di atas adalah wajib diisi, sedangkan parameter ke-3 tidak wajib, jika tidak diisi, maka nilai default-nya adalah ‘celcius’.

####FUNGSI DENGAN PARAMETER TIDAK BERURUT

Jika parameter opsional-nya lebih dari satu:

In [ ]:
def suhu_udara (daerah, derajat = 30, satuan = 'celcius'):
  print(f'Suhu di {daerah} adalah {derajat} {satuan}')

ketika dicoba memanggil dengan 2 parameter, yang diinginkan adalah parameter daerah dan satuan:

In [ ]:
def suhu_udara (daerah, derajat = 30, satuan = 'celcius'):
  print(f'Suhu di {daerah} adalah {derajat} {satuan}')

suhu_udara('Jakarta', 'fahrenheit')

Output tersebut terdapat parameter derajat, maka tidak sesuai dengan yang diinginkan. 

Cara untuk mengatasinya adalah dengan mendefinisikan nama argumen/parameter yang akan diisi.

Contoh:

In [ ]:
def suhu_udara (daerah, derajat = 30, satuan = 'celcius'):
  print(f'Suhu di {daerah} adalah {derajat} {satuan}')

suhu_udara('Jakarta', satuan = 'fahrenheit')

Dengan mendefinisikan nama argumen yang di passing, maka akan dapat dipanggil bahkan secara tidak berurutan sekalipun:

In [ ]:
def suhu_udara (daerah, derajat = 30, satuan = 'celcius'):
  print(f'Suhu di {daerah} adalah {derajat} {satuan}')

suhu_udara(satuan = 'fahrenheit', daerah = 'Jakarta', derajat = '30')

###Positional Argument & Keyword

Fungsi Python dapat berisi dua jenis argumen
Argumen posisional dan argumen kata kunci. Argumen posisi harus dimasukkan dalam urutan yang benar. Dan Argumen kata kunci disertakan dengan kata kunci dan tanda sama dengan.

####a.	Argumen posisi

Sebelumnya kita harus mengetahui apa itu argumen.  Argumen adalah variabel, nilai, atau objek yang diteruskan ke fungsi atau metode sebagai input. Jadi Argumen posisional adalah argumen yang perlu dimasukkan dalam posisi atau urutan yang tepat. 
Argumen posisi pertama selalu perlu dicantumkan terlebih dahulu saat fungsi dipanggil. Argumen posisi kedua perlu dicantumkan kedua dan argumen posisi ketiga dicantumkan ketiga, dst.

Contoh argumen posisi dapat dilihat di fungsi Python complex(). Fungsi ini mengembalikan bilangan kompleks dengan suku nyata dan suku imajiner.
Contohnya :
Jika bilangan kompleks 3 + 5j dibuat, dua argumen posisi adalah angka 3 dan 5. Sebagai argumen posisi 3 harus dicantumkan terlebih dahulu, dan 5 harus dicantumkan kedua.

In [ ]:
complex(3, 5)

apabila ingin membuat 5+3j maka 5 dicantumkan terlebih dahulu dan 3 dicantumkan kedua. dan apabila menulis argumen yang sama dalam urutan yang berbeda menghasilkan hasil yang berbeda.

In [ ]:
complex(5, 3)

Argumen Posisi yang Ditentukan oleh list dan tupel

Argumen posisi juga dapat diteruskan ke fungsi menggunakan objek yang dapat diubah. Contoh objek yang dapat diubah dalam Python termasuk daftar dan tupel. Sintaks umum yang digunakan adalah:

In [ ]:
function(*iterable)

Dimana function adalah nama dari function dan iterable adalah nama dari iterable yang didahului dengan karakter * asterisk.

Contoh penggunaan daftar untuk meneruskan argumen posisi ke fungsi complex() adalah sb :

In [ ]:
term_list = [3, 5]
complex(*term_list)

Terlihat bahwa karakter asterisk * disertakan sebelum argumen term_list.

####b.	Argumen kata kunci

Argumen kata kunci adalah argumen yang diteruskan ke fungsi atau metode yang didahului oleh kata kunci dan tanda sama dengan. Bentuk umumnya adalah:

In [ ]:
function(keyword=value)

Di mana function adalah nama fungsi, keyword adalah argumen kata kunci dan nilai adalah nilai atau objek yang dilewatkan sebagai kata kunci itu.
Fungsi kompleks python juga dapat menerima dua argumen kata kunci. Dua argumen kata kunci adalah real= and imag= .

Untuk membuat bilangan kompleks 3 + 5j , 3 dan 5 dapat diteruskan ke fungsi sebagai nilai yang ditetapkan ke argumen kata kunci real= dan imag=. 
Contohnya :

In [ ]:
complex(real=3, imag=5)

sehingga dapat dilihat bahwa urutan satu argumen kata kunci dibandingkan dengan argumen kata kunci lainnya tidak masalah.

####Argumen Kata Kunci yang Ditentukan oleh Kamus

Argumen kata kunci juga dapat diteruskan ke fungsi menggunakan kamus Python. Kamus harus berisi kata kunci sebagai kunci dan nilai sebagai nilai. 
Bentuk umumnya adalah sb :

In [ ]:

keyword_dict = {'keyword1': value1, 'keyword2': value2}
function(**keyword_dict)

Dimana function adalah nama fungsi dan keyword_dict adalah nama kamus yang berisi kata kunci dan nilai yang didahului oleh karakter tanda bintang ganda **. Perhatikan bahwa kata kunci yang ditetapkan sebagai kunci dalam kamus harus diapit oleh tanda kutip ' '.

Contoh penggunaan kamus untuk meneruskan argumen kata kunci ke fungsi complex() di bawah ini:

In [ ]:
keyword_dict = {'real': 3, 'imag': 5}
complex(**keyword_dict)

###Default Argument

Python memungkinkan argumen fungsi memiliki nilai default. Jika fungsi dipanggil tanpa argumen, argumen mendapatkan nilai defaultnya.

Argumen Bawaan:

Nilai default menunjukkan bahwa argumen fungsi akan mengambil nilai itu jika tidak ada nilai argumen yang diteruskan selama pemanggilan fungsi. Nilai default ditetapkan dengan menggunakan operator assignment(=) dari form keywordname=value.

misalnya Siswa fungsi berisi 3-argumen di mana 2 argumen ditetapkan dengan nilai default. Jadi, fungsi siswa menerima satu argumen yang diperlukan (nama depan), dan sisanya dua argumen opsional.

In [ ]:
def student(firstname, lastname ='Mark', standard ='Fifth'):
 print(firstname, lastname, 'studies in', standard, 'Standard')

saat memangil fungsi kita perlu mengingat poin-poin berikut :
1.	Dalam hal melewati argumen kata kunci, urutan argumen penting.
2.	Seharusnya hanya ada satu nilai untuk satu parameter.
3.	Nama kata kunci yang diteruskan harus sesuai dengan nama kata kunci yang sebenarnya.
4.	Dalam kasus pemanggilan fungsi yang berisi argumen non-kata kunci, urutannya penting.

Contoh 1
(Memanggil fungsi tanpa argumen kata kunci)

In [ ]:
def student(firstname, lastname ='Mark', standard ='Fifth'):
	print(firstname, lastname, 'studies in', standard, 'Standard')

# 1 positional argument
student('John')

# 3 positional arguments						
student('John', 'Gates', 'Seventh')	

# 2 positional arguments
student('John', 'Gates')				
student('John', 'Seventh')

Kita dapat melihat urutan argumen penting dari panggilan ke-2, ke-3, dan ke-4 dari fungsi tersebut.
Pada panggilan pertama, hanya ada satu argumen yang diperlukan dan argumen lainnya menggunakan nilai default. Dalam panggilan kedua, nama belakang dan nilai argumen standar diganti dari nilai default ke nilai kelulusan baru

Contoh 2 (Memanggil fungsi dengan argumen kata kunci)

In [ ]:
def student(firstname, lastname ='Mark', standard ='Fifth'):
	print(firstname, lastname, 'studies in', standard, 'Standard')

# 1 keyword argument
student(firstname ='John')	

# 2 keyword arguments				
student(firstname ='John', standard ='Seventh')

# 2 keyword arguments
student(lastname ='Gates', firstname ='John')

Pada panggilan pertama, hanya ada satu argumen kata kunci yang diperlukan. Dalam panggilan kedua, satu adalah argumen yang diperlukan dan satu adalah opsional (standar), yang nilainya diganti dari default ke nilai kelulusan baru. Pada pemanggilan ketiga, kita dapat melihat bahwa urutan dalam argumen kata kunci tidak penting.

Contoh 3 (Beberapa panggilan fungsi tidak valid)

In [ ]:
def student(firstname, lastname ='Mark', standard ='Fifth'):
	print(firstname, lastname, 'studies in', standard, 'Standard')

# required argument missing
student()			

# non keyword argument after a keyword argument			
student(firstname ='John', 'Seventh')

# unknown keyword argument
student(subject ='Maths')

Kode di atas akan menimbulkan kesalahan karena:

•	Pada panggilan pertama, nilai tidak diteruskan untuk nama depan parameter yang merupakan parameter yang diperlukan

•	Dalam panggilan kedua, ada argumen non-kata kunci setelah argumen kata kunci.

•	Dalam panggilan ketiga, argumen kata kunci yang lewat tidak cocok dengan argumen nama kata kunci yang sebenarnya.

##Lambda in Python

###Apa itu lambda?
lambda berasal dari teori kalkulus yang dikenalkan oleh Alonzo Church di tahun 1930. dimana lambda calculus merupakan sistem formal dalam logika matematika untuk mengekspresikan komputasi mengggunakan pengikatan dan subtitusi variabel. lambda calculus terdiri dari membangun istilah lambda dan melakukan operasi reduksi. 
istilah yang dibangun mengggunakan aturan berikut :
![2021-10-22 (2).png]()

dengan lambda , dapat dibuat fungsi tanpa nama 
misal kita mempunyai fungsi penjumlahan kuadrat seperti dibawah ini :

In [ ]:
def suqare_sum(x,y):
  return x**2+y**2

sedangkan dengan lambda :

In [ ]:
(lambda x,y : x**2+y**2)(5,2)

###Lambda Expression
lambda expression di python adalah sebuah ekspresi untuk membuat fungsi. 
cara memanggilnya membuat format fungsi lambda :
lambda args : expression

lambda bisa memiliki lebih dari satu argumen atau parameter tapi hanya bisa memiliki satu ekspresi atau isi.

contoh :

In [ ]:
greeting = lambda name :print(f"hello,{name}")
greeting ("Nida Hasna")

perbedaan lambda dengan fungsi def yaitu lambda khusus untuk fungsi yang berisi satu ekspresi dan sifat fungsinya akan anonymous.

###Anonymous Function

Karena lambda adalah anonymous function, ia akan bebas menggunakan nama apa saja.

Dengan kata lain, fungsi lambda bisa disimpan di variabel mana pun.

Ini tentunya tidak bisa dilakukan oleh fungsi yang dibuat dengan def.


contoh

In [ ]:
def ucapkan_hai(nama):
  print(f"hai {nama}, selamat pagi")

ucapan = ucapkan_hai(nama)

saat mencoba membuat fungsi ucapkan_hai() dengan def, kemudian menyimpannya ke dalam variabel ucapan.

kenapa error???

Ini karena fungsi tersebut bukanlah fungsi anonymous yang boleh dibah-ubah namanya.

In [ ]:
salam = lambda nama: print(f"hai, {nama}")
sapa = salam
salam ("safira")
sapa ("cahya")

Hasilnya nggak akan error, karena ini adalah fungsi anonymous atau lambda.

###Eksekusi Lambda secara langsung

Kelebihan fungsi lambda dibandingkan def adalah bisa kita eksekusi langsung.

Maksudnya?

Ya bisa kita pakai langsung, tanpa harus memanggil namanya.

Contohnya:

In [ ]:
(lambda x,y: x*2 + y**3)(9,0)

Tanda kurung yang mengapit fungsi lambda artinya kita akan langsung mengeksekusi fungsi tersebut.

Lalu kurung berikutnya akan berisi parameter.



Hasil dari eksekusi ini bisa juga kita simpan ke dalam variabel.

In [ ]:
hasil = (lambda x,y: x*2 + y**3)(9,0)
hasil

###Mengapa pakai Lambda?

Karena, kita akan membutuhkannya saat menggunakan fungsi tertentu.
 lambda digunakan untuk membuat fungsi dalam satu baris dan ia bersifat anonymous.
Lambda dapat simpan di dalam variabel dan dijadikan sebagai parameter.
Kita memang tidak harus selalu menggunakan Lambda, tapi dalam kasus tertentu lambda lebih baik dibandingkan fungsi biasa.
Biasanya saat menggunakan fungsi-fungsi seperti filter(), map(), dan reduce() kita akan membutuhkan lambda.
Mengapa?
Karena di fungsi-fungsi tersebut membutuhkan parameter fungsi.

###Contoh pemakaian lambda

Contoh:

In [ ]:
bilangan = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = map (lambda x: x*x, bilangan) 
print(list(filtered_result))

ada fungsi map() kita memberikan parameter dengan fungsi lambda.
Mengapa bisa begitu?
Karena lambda bisa disimpan ke dalam variabel, otmatis dia akan bisa juga jadi parameter.
Satu lagi contoh dengan fungsi filter():

In [ ]:
>>> # menentukan bilangan genap
>>> genap = lambda x: x%2 == 0
>>> list(filter(genap, range(11)))

Atau bisa dibuat dalam satu baris seperti ini:

In [ ]:
>>> list(filter(lambda x: x%2 == 0, range(11)))