<a href="https://colab.research.google.com/github/fawazdhianabil/Subject-Big-Data/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Apa itu Numpy?**

NumPy (Numerical Python) adalah library Python yang fokus pada scientific computing. NumPy memiliki kemampuan untuk membentuk objek N-dimensional array, yang mirip dengan list pada Python. Keunggulan NumPy array dibandingkan dengan list pada Python adalah konsumsi memory yang lebih kecil serta runtime yang lebih cepat. NumPy juga memudahkan kita pada Aljabar Linear, terutama operasi pada Vector dan Matrix.

Mengimpor library numpy

In [ ]:
import numpy as np

## **Array**

Array adalah sebuah struktur data yang terdiri atas banyak variabel dengan tipe data sama, dimana masing-masing elemen variabel mempunyai nilai indeks

Contoh Array

In [ ]:
# Array
a = np.array([1,2,3,4,5])
print(a)
print(a.shape) # ukuran array
print(a.dtype) # tipe data elemen array

print(a.ndim)
print(a.size) # jumlah elemen
print(a.itemsize) # ukuran bit untuk masing-masing elemen

[1 2 3 4 5]
(5,)
int64
1
5
8

Membuat Array

In [ ]:
# Metode Dasar Array
a = np.array([1,2,3])
print(a)

[1 2 3]

In [ ]:
# membuat vector
a = np.array([1,2,3,4,5])
b = np.array([1.5 , 2.5, 5, 6, 7])
print(a)
print(b)

[1 2 3 4 5]
[1.5 2.5 5.  6.  7. ]

In [ ]:
# membuat vector dengan range
c = np.arange(1,10,2)
print(c)

[1 3 5 7 9]

In [ ]:
# membuat linspace
d = np.linspace(1,10,4)
print(d)

[ 1.  4.  7. 10.]

In [ ]:
# array multidimensi / matrix
e = np.array( [ (1,2,3) , (4,5,6)] )
print(e)

[[1 2 3]
 [4 5 6]]

In [ ]:
# matrix dengan nilai nol
f = np.zeros((5,5))
print(f)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

In [ ]:
# matrix dengan nilai satu
g = np.ones((5,5))
print(g)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [ ]:
# matrix identitas
h1 = np.identity(5)
h2 = np.eye(5)
print(h1)
print(h2)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]
[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

## **Indexing, Slicing, dan Iterasi Numpy Array**

### **1. Indexing**

Dalam array satu dimensi dapat mengakses nilai ke-i (menghitung dari nol) dengan menentukan indeks yang diinginkan dalam tanda kurung siku ([ ]). Untuk indeks negatif pada array numpy seperti -1, -2, dan seterusnya dalam praktiknya elemen terakhir bergerak secara bertahap menuju elemen awal.

Array1 adalah contoh array 1 dimensi dan array2 adalah contoh array 2 dimensi. Hakikatnya indexing adalah proses mengambil elemen atau nilai yang terkandung di dalam suatu array dengan melihat indeks dari elemen tersebut. Pada Array 1 dimensi, caranya sangat mudah hanya perlu menuliskan nama array diikuti oleh kurung kotak dan diisi dengan index yang diinginkan. 

Pada Array 2 dimensi, harus memberikan dua nilai [indeks baris, indeks kolom] dengan menggunakan tanda kurung siku yang menunjukkan lokasi/posisi dari nilai yang ingin diambil. Nilai di dalam kurung kotak mewakili baris dan kolom. Jadi apabila menuliskan array2[1, 2] maka memerintahkan program untuk mengambil value baris indeks ke-1 dan kolom indeks ke-2.

In [ ]:
import numpy as np

In [ ]:
# Indexing from One-Dimensional Array
array1 = np.array([5, 0, 3, 3, 7, 9])
print(array1)
print(array1[0])
print(array1[2:5])
print(array1[:-2])
print(array1[:])

[5 0 3 3 7 9]
5
[3 3 7]
[5 0 3 3]
[5 0 3 3 7 9]

In [ ]:
# Indexing from Multi-Dimensional Array
array2 = np.array([[3, 5, 2, 4], [7, 6, 8, 8], [1, 6, 7, 7]])
print(array2)
print(array2[1,2])
print(array2[0:2, 1:])

[[3 5 2 4]
 [7 6 8 8]
 [1 6 7 7]]
8
[[5 2 4]
 [6 8 8]]

### **2. Slicing**

Penggunaan tanda kurung siku selain dapat digunakan untuk mengakses elemen array juga dapat digunakan untuk mengakses subarray dengan notasi slice yang ditandai dengan karakter titik dua (:). Sintaks pemotongan Numpy untuk mengakses sebuah Array "x" yaitu 

              x [Start: Stop: Step]

Jika salah satu di antaranya tidak ditentukan, nilai defaultnya Start = 0, Stop = ukuran dimensi, Step = 1. 
Pada dasarnya slicing sama seperti indexing, yang membedakan adalah slicing mengambil lebih dari 1 value, sedangkan indexing hanya mengambil satu saja.

In [ ]:
import numpy as np

In [ ]:
# One-Dimensional Array Slicing
x = np.arange(10)
print(x)
print(x[2:8]) # membuat array dari anggota elemen array x dengan index 2 hingga sebelum index 8
              # (tidak termasuk elemen dengan index 8, dalam hal ini hanya index 2-7)
print(x[:5]) # membuat array dari anggota elemen array x paling awal hingga sebelum index 5 
             # (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4)
print(x[5:]) # membuat array dari anggota elemen array x mulai index 5 sampai index terakhir 
print(x[::2]) 
print(x[1::2]) 
print(x[1:7:2]) # membuat array dari anggota elemen array x dengan index 1 hingga sebelum index 7, 
                # dengan "step" 2 (dalam hal ini hanya index 1, 3, 5).
print(x[::-1])

[0 1 2 3 4 5 6 7 8 9]
[2 3 4 5 6 7]
[0 1 2 3 4]
[5 6 7 8 9]
[0 2 4 6 8]
[1 3 5 7 9]
[1 3 5]
[9 8 7 6 5 4 3 2 1 0]

In [ ]:
# Multi-Dimensional Array Slicing
print(array2)
print(array2[:2, :3])
print(array2[:3, ::2])
print(array2[::-1, ::-1])

[[3 5 2 4]
 [7 6 8 8]
 [1 6 7 7]]
[[3 5 2]
 [7 6 8]]
[[3 2]
 [7 8]
 [1 7]]
[[7 7 6 1]
 [8 8 6 7]
 [4 2 5 3]]

### **3. Iterasi Numpy Array**

Jika melakukan iterasi pada array satu dimensi maka iterasi akan melewati setiap elemen satu per satu. Sedangkan dalam array dua dimensi maka iterasi akan melewati semua baris, jika ingin membuat iterasi elemen demi elemen maka dapat menggunakan perulangan for pada namaarray.flat .

In [ ]:
import numpy as np

In [ ]:
# Iterasi Array One-Dimensional
for i in array1 :
  print(i)

5
0
3
3
7
9

In [ ]:
# Iterasi Array Multi-Dimensional
for row in array2 :
  print(row)

for item in array2.flat :
  print(item)

[3 5 2 4]
[7 6 8 8]
[1 6 7 7]
3
5
2
4
7
6
8
8
1
6
7
7

##**Modifikasi Numpy(tambah, hapus, ubah elemen)**

In [ ]:
import numpy as np

In [ ]:
#list
x = [0,1,2,3,4,5,6,7,8,9]

In [ ]:
xnp = np.array([0,1,2,3,4,5,6,7,8,9])

###**Mengubah nilai elemen**

In [ ]:
xnp[4] = '11'
xnp

array([ 0,  1,  2,  3, 11,  5,  6,  7,  8,  9])

In [ ]:
xnp[0] = '12'
xnp

array([12,  1,  2,  3, 11,  5,  6,  7,  8,  9])

###**Menambahkan elemen baru**

####**Menggunakan metode (method)**

Ada 2 method yang dapat digunakan untuk menambahkan item baru:

*   np.append
*   np.hstack
*   np.vstack

In [ ]:
#np.append
xnp=np.array([1,2,3])
xnp=np.append(xnp,np.array([7, 8, 9]))
xnp

array([1, 2, 3, 7, 8, 9])

In [ ]:
#np.hstack
xnp=np.array([1,  2,  3])
xnp=np.hstack((xnp,np.array([4, 5, 6])))
xnp

array([1, 2, 3, 4, 5, 6])

In [ ]:
#np.vstack
#digunakan untuk menggabungkan array 
xnp=np.array([1,  2,  3])
xnp=np.vstack((xnp,np.array([11, 12, 13])))
xnp

array([[ 1,  2,  3],
       [11, 12, 13]])

###**Menghapus elemen**

In [ ]:
#np.delete
#berdasarkan indeks
xnp=np.array([1,  2,  3, 4, 5, 6])
xnp=np.delete(xnp, ([2,5]))
xnp

array([1, 2, 4, 5])

In [ ]:
#np.setdiff1d
xnp=np.array([1,  2,  3, 4, 5, 6])
ynp=np.array([2,4,6])
znp=np.setdiff1d(xnp, ynp)
znp

array([1, 3, 5])

## **Operasi Aritmatika Array**

### **Aritmatika Dasar**

Pada Numpy bisa juga menggunakan operasi aritmatika dasar seperti penjumlahan, pengurangan, perkalian, pembagian, perpangkatan dan sisa bagi. Operator yang biasa digunakan adalah +, -, * , / , ** dan %

![operator aritmatika.png]()

Berikut contoh operasi aritmatika pada array:

In [ ]:
import numpy as np

In [ ]:
#list python
a=[1,2,3,4,5]
b=[6,7,8,9,10]

In [ ]:
#array numpy
anp=np.array([1,2,3,4,5])
bnp=np.array([6,7,8,9,10])

#### **1. Penjumlahan**

Berfungsi untuk menjumlahkan dua array dan mengembalikan hasilnya dalam array baru.

In [ ]:
#ELEMENTWISE operation
#penjumlahan
hasil=anp+bnp
print(hasil)

[ 7  9 11 13 15]

#### **2. Pengurangan**

Berfungsi untuk mengurangi nilai dari satu array dengan nilai dari array lain, dan mengembalikan hasilnya dalam array baru.

In [ ]:
#pengurangan
hasil=anp-bnp
print(hasil)

[-5 -5 -5 -5 -5]

#### **3. Perkalian**

Berfungsi untuk mengalikkan nilai dari satu array dengan nilai dari array lain, dan mengembalikkan hasilnya dalam array baru.

In [ ]:
#perkalian
hasil=anp*bnp
print(hasil)

[ 6 14 24 36 50]

#### **4. Pembagian**
Berfungsi untuk membagi nilai dari satu array dengan nilai dari array lain, dan mengembalikkan hasilnya dalam array baru.

In [ ]:
#pembagian
hasil=anp/bnp
print(hasil)

[0.16666667 0.28571429 0.375      0.44444444 0.5       ]

#### **5. Sisa Bagi**
Berfungsi untuk mengembalikan sisa nilai dalam array pertama yang berhubungan dengan nilai dalam array kedua, dan mengembalikan hasilnya dalam array baru.

In [ ]:
#SisaBagi
hasil=bnp%anp
print(hasil)

[0 1 2 1 0]

#### **6. Perpangkatan**
Berfungsi untuk memangkatkan nilai array pertama menjadi pangkat nilai dari array kedua, dan mengembalikkan hasilnya dalam array baru.

In [ ]:
#Perpangkatan
hasil=anp**2
print(hasil)

[ 1  4  9 16 25]

### **Perkalian Dot dan Cross**

#### Perkalian Dot

adalah perkalian titik dari dua vektor

In [ ]:
a1 = np.array([1,3])
b1 = np.array([3,0])

In [ ]:
#perkalian dot
c1 = np.dot(a1,b1)
print(c1)

3

#### **Perkalian Cross**

hasil kali antara dua vektor di ruang dimensi 3 yang menghasilkan vektor yang tegak lurus terhadap kedua vektor yang dikalikan tersebut

In [ ]:
# perkalian cross
a2 = np.array([1,2,0])
b2 = np.array([2,1,0])

In [ ]:
c2 = np.cross(b2,a2)
print(c2)

[0 0 3]

##**Array Broadcasting**

Array Broadcasting adalah mekanisme yang memungkinkan numpy untuk melakukan operasi aritmetika pada vektor antara array dengan bentuk yang tidak sama, tetapi kompatibel. Secara khusus, array akan diperlakukan seolah-olah isinya telah direplikasi sepanjang dimensi yang sesuai, sehingga bentuk array baru yang lebih tinggi ini sesuai dengan operasi matematika yang dilakukan. Nilai (misal: array 1x2) yang dikalikan pada array vektor (4x1), maka setiap elemen vektor tersebut akan dikalikan dengan nilai tadi (array 1x2).

![image](https://www.sainshack.com/wp-content/uploads/2021/01/Screenshot-from-2021-01-15-10-42-46.png)

Teknik yang digunakan adalah broadcasting yang paling sederhana adalah vektorisasi pada Numpy. Ketika menambahkan matrik a dengan skalar '1', broadcasting digunakan untuk vektorisasi skalar '1' tersebut menjadi matrik yang seukuran dengan a. Untuk operasi perkalian perhatikan contoh di bawah ini berdasarkan gambar di atas.

In [ ]:
e = np.array([[0], [3], [6], [9]])
e * np.array(*[[1, 2]])

array([[ 0,  0],
       [ 3,  6],
       [ 6, 12],
       [ 9, 18]])

Untuk operasi broadcasting, setidaknya harus ada kompatibilitas antar aksisnya, bisa kolomnya, bisa barisnya, atau skalar. Seperti perkalian matrik, jika kedua matrik tidak kompatibel, maka tidak bisa dikalikan. Jika tidak memenuhi kriteria tersebut akan menyebabkan error. unruk lebih jelasnya sebagai berikut:

In [ ]:
a = np.array([[0, 1], [3, 4], [6, 7], [9, 10]])
b = np.array([[1, 1], [1, 1], [1, 1], [1, 1]])

In [ ]:
a + b

array([[ 1,  2],
       [ 4,  5],
       [ 7,  8],
       [10, 11]])

In [ ]:
a + 1

array([[ 1,  2],
       [ 4,  5],
       [ 7,  8],
       [10, 11]])

a+b dan a+1 hasilnya sama, cara ke-2 dengan vektorisasi lebih simpel. Vektorisasi menggunakan broadcasting. Broadcasting: menyeber 'pesan' ke semua elemen vektor/matrik. Misalnya pada vektorisasi di atas. lebih jelasnya pada operasi perkalian di bawah ini

In [ ]:
e = np.array([[0], [3], [6], [9]])
e

array([[0],
       [3],
       [6],
       [9]])

In [ ]:
 e * np.array([[1, 2]])

array([[ 0,  0],
       [ 3,  6],
       [ 6, 12],
       [ 9, 18]])

Matrik [1, 2] di sebar (broadcast!) ke semua baris e, karena ukuran baris masih sama dengan kolom maka operasi sukses. Maka,

In [ ]:
e * np.array([[1, 2, 3]])

array([[ 0,  0,  0],
       [ 3,  6,  9],
       [ 6, 12, 18],
       [ 9, 18, 27]])

karena ukuran barisnya kompatibel, maka operasi sukses. Kemudian dilakukan percobaan sebagai berikut :

In [ ]:
e * np.array([[1, 2], [3, 4]])

ValueError: ignored

Ternyata hasilnya error karena ukuran tidak kompatibel, kemudian dilakukan percobaan sebagai berikut :

In [ ]:
e * np.array([[1], [2], [3], [4]])

array([[ 0],
       [ 6],
       [18],
       [36]])

dan hasilnya sukses! karena ukuran barisnya sama. maka disebut hal tersebut adalah broadcasting!

## **Operasi Matriks Pada Numpy Array**

### **Representasi Matriks Pada Python**

Matriks adalah array 2 dimensi khusus yang mempertahankan sifat 2 dimensinnya melalui operasi. Matriks memiliki operator khusus tertentu, seperti perkalian matriks dan pemangkatan matriks.

Untuk mendefinisikan suatu array dan menggunakan fungsi-fungsi operasi matriks, kita akan menggunakan modul numpy pada python. Pertama kita import numpy dengan alias np.

Berikut contoh penulisan matriks pada python:

In [ ]:
import numpy as np

In [ ]:
A = np.array([[1, 3], [5, 7]]) 
A

array([[1, 3],
       [5, 7]])

### **Operasi Matriks Pada Python**

In [ ]:
S = np.array([[1, 3], [5, 7]]) 
S

array([[1, 3],
       [5, 7]])

In [ ]:
F = np.array([[3, 7], [9, 15]]) 
F

array([[ 3,  7],
       [ 9, 15]])

In [ ]:
a = 10
a

10

**1. Penjumlahan Matriks**

Operasi untuk menghitung dua matriks dengan cara menjumlahkan setiap komponen yang memiliki letak yang sama.

In [ ]:
np.add(S,F)

array([[ 4, 10],
       [14, 22]])

**2. Pengurangan Matriks**

Operasi untuk menghitung dua matriks dengan cara mengurangkan setiap komponen yang memiliki letak yang sama

In [ ]:
np.subtract(S,F)

array([[-2, -4],
       [-4, -8]])

**3. Perkalian Skalar Matriks**

In [ ]:
a*S

array([[10, 30],
       [50, 70]])

**4. Perkalian Matriks**

In [ ]:
np.multiply(S,F)

array([[  3,  21],
       [ 45, 105]])

**5. Perkalian Titik Matriks (Dot Product)**

In [ ]:
np.dot(S,F)

array([[ 30,  52],
       [ 78, 140]])

**6. Transpose Matriks**

In [ ]:
S.T

array([[1, 5],
       [3, 7]])

**7. Operasi Fungsi Pada Setiap Elemen Matriks - Akar Kuadrat**

In [ ]:
np.sqrt(S)

array([[1.        , 1.73205081],
       [2.23606798, 2.64575131]])

In [ ]:
np.sqrt(F)

array([[1.73205081, 2.64575131],
       [3.        , 3.87298335]])

**8. Menjumlahkan Semua Elemen Kolom Sebuah Matriks**

In [ ]:
S

array([[1, 3],
       [5, 7]])

In [ ]:
np.sum(S,axis=1)

array([ 4, 12])

In [ ]:
F

array([[ 3,  7],
       [ 9, 15]])

In [ ]:
np.sum(F,axis=1)

array([10, 24])

**9. Menjumlahkan Semua Elemen Baris Sebuah Matriks**

In [ ]:
np.sum(S,axis=0)

array([ 6, 10])

In [ ]:
np.sum(F,axis=0)

array([12, 22])