<a href="https://colab.research.google.com/github/fawazdhianabil/Subject-Big-Data/blob/main/Quiz_30Oktober.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic EDA

**Quiz:**

Lengkapi Notebok Di Bawah ini untuk menghasilkan output yang teah ditentukan

Muhammad Athanabil Andi Fawazdhia_1800015042_Quiz

## Import Library

In [1]:
# 1. Import library pandas dg alias pd 
import pandas as pd
# 2. Import library numpy dg alias np 
import numpy as np

## Membuka Data

In [2]:
#3. Membuka data 'Data_KIP.csv' dengan function read_csv() dalam variabel df
df = pd.read_csv('/content/Data_KIP.csv',sep=";")

In [3]:
#4. Menampilkan 5 data pertama dalam dataframe
df.head()

  classification in mathematics  ... Unnamed: 91
0   2021/04/23 1:32:20 AM GMT+7  ...         1.0
1   2021/04/29 1:17:09 PM GMT+7  ...         NaN
2   2021/04/29 2:14:48 PM GMT+7  ...         NaN
3   2021/04/30 7:12:43 PM GMT+7  ...         1.0
4  2021/05/02 11:15:39 AM GMT+7  ...         NaN

[5 rows x 92 columns]

In [4]:
#5. Menampilkan nama semua kolom df
df.columns

Index(['classification in mathematics', 'Nama pengguna', 'Nama Lengkap Siswa',
       'Nomor Induk Siswa di Sekolah', 'Nomor Induk Siswa Nasional (NISN)',
       'Nomor Pokok Sekolah Nasional (NPSN)', 'Nomor Induk Kependudukan (NIK)',
       'No. Telepon/Handphone', 'No. Whatsapp', 'Email',
       'Kartu Persyaratan yang dimiliki (Pilih salah satu)',
       'Nomor Kartu KIP/PKH/KKS/DTKS/SKTM/Surat dari Panti Asuhan',
       'Jenis Kelamin', 'Tempat Lahir', 'Tanggal/Bulan/Tahun Lahir', 'Agama',
       'Alamat', 'Provinsi', 'Kabupaten/Kota', 'Nama gadis Ibu',
       'Nomor Pendaftaran di Website KIP Kuliah (Contoh : 1121.203.34566.1456.786)',
       'Nomor Pendaftaran di Aplikasi PMB UBSI (Contoh : 202102000333)',
       'Pilihan Program Studi', 'Gelombang Pendaftaran PMB',
       'Tahun lulus (4 digit, contoh: 2019)', 'Nama Sekolah Asal (SMK/SMA/MA)',
       'Provinsi_1', 'Kabupaten/Kota_2', 'Kode Pos', 'Jurusan (Sekolah)',
       'Ranking Semester 4', 'Nilai Rata-rata Semester 4 (Nilai Pengetahuan)',
       'Ranking Semester 5', 'Nilai Rata-rata Semester 5 (Nilai Pengetahuan)',
       'Ranking Semester 6', 'Nilai Rata-rata Semester 6 (Nilai Pengetahuan)',
       'Nama Ayah', 'Status Ayah', 'Status Hubungan', 'Pendidikan Ayah',
       'Pekerjaan Ayah', 'Detail Ayah',
       'Jumlah Tanggungan Tidak Termasuk Ayah dan Ibu', 'No. Handphone Ayah',
       'Nama Ibu', 'Status Ibu', 'Pendidikan Ibu', 'Pekerjaan Ibu',
       'Detail Ibu', 'No. Handphone Ibu', 'Kepemilikan',
       'Tahun Perolehan (4 digit tahun)', 'Sumber Listrik',
       'Daya Listrik (KWh)', 'Luas Tanah (M2)', 'NJOP per Meter (Rupiah)',
       'Luas Bangunan (M2)', 'Bahan Atap', 'Bahan Lantai', 'Bahan Tembok',
       'Mandi/Cuci/Kakus', 'Sumber Air Utama', 'Jarak Dari Pusat Kota (KM)',
       'Jumlah Orang Tinggal Di Rumah Termasuk Orang Tua',
       'Penghasilan Ayah (Rupiah)',
       'Penghasilan Ibu (Jika Tidak Bekerja Maka Tulis Angka Nol Saja)',
       'Hutang Kepada Pihak Lain (Rupiah)',
       'Cicilan Hutang Per Bulan (Rupiah)',
       'Total Piutang Kepada Pihak Lain (Rupiah)',
       'Cicilan Piutang Dari Pihak Lain (Rupiah)',
       'Tabungan Keluarga (Rupiah)', 'Rencana Tinggal', 'Dukungan Keluarga',
       'Transportasi Asal', 'Transportasi Harian',
       'Biaya Transportasi (Rupiah)', 'Kartu Peserta KIP Kuliah',
       'Bukti Pendaftaran PMB UBSI', 'Scan KTP', 'Scan Kartu Keluarga (KK)',
       'Scan Kartu KIP/PKH/KKS/DTKS/SKTM/Surat dari Panti Asuhan/SKTM dari Lingkungan Tempat Tinggal',
       'Scan Ijazah/Surat Keterangan Lulus (Depan dan Belakang)',
       'Scan Rapot Semester 4', 'Scan Rapot Semester 5',
       'Scan Rapot Semester 6',
       'Foto Pribadi/Pas Foto (Pose Formal dengan Background Merah/Biru)',
       'Foto Keluarga', 'Foto Rumah Tampak Depan', 'Foto Ruang Tamu',
       'Keseluruhan Berkas', 'PERNYATAAN', 'Unnamed: 91'],
      dtype='object')

In [5]:
#6. Menampilkan informasi keseluruhan dataframe dengan function .info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446 entries, 0 to 445
Data columns (total 92 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   classification in mathematics                                                                 446 non-null    object
 1   Nama pengguna                                                                                 446 non-null    object
 2   Nama Lengkap Siswa                                                                            446 non-null    object
 3   Nomor Induk Siswa di Sekolah                                                                  446 non-null    object
 4   Nomor Induk Siswa Nasional (NISN)                                                             446 non-null    object
 5   Nomor Pokok Sekolah Nasional (NPSN)                                                           446 non-null    int64
 6   Nomor Induk Kependudukan (NIK)                                                                446 non-null    object
 7   No. Telepon/Handphone                                                                         446 non-null    object
 8   No. Whatsapp                                                                                  446 non-null    object
 9   Email                                                                                         446 non-null    object
 10  Kartu Persyaratan yang dimiliki (Pilih salah satu)                                            446 non-null    object
 11  Nomor Kartu KIP/PKH/KKS/DTKS/SKTM/Surat dari Panti Asuhan                                     446 non-null    object
 12  Jenis Kelamin                                                                                 446 non-null    object
 13  Tempat Lahir                                                                                  446 non-null    object
 14  Tanggal/Bulan/Tahun Lahir                                                                     446 non-null    object
 15  Agama                                                                                         446 non-null    object
 16  Alamat                                                                                        446 non-null    object
 17  Provinsi                                                                                      446 non-null    object
 18  Kabupaten/Kota                                                                                446 non-null    object
 19  Nama gadis Ibu                                                                                446 non-null    object
 20  Nomor Pendaftaran di Website KIP Kuliah (Contoh : 1121.203.34566.1456.786)                    446 non-null    object
 21  Nomor Pendaftaran di Aplikasi PMB UBSI (Contoh : 202102000333)                                446 non-null    object
 22  Pilihan Program Studi                                                                         446 non-null    int64
 23  Gelombang Pendaftaran PMB                                                                     197 non-null    object
 24  Tahun lulus (4 digit, contoh: 2019)                                                           446 non-null    int64
 25  Nama Sekolah Asal (SMK/SMA/MA)                                                                446 non-null    object
 26  Provinsi_1                                                                                    446 non-null    object
 27  Kabupaten/Kota_2                                                                              446 non-null    object
 28  Kode Pos                                                                                      446 non-null    int64
 29  Jurusan (Sekolah)                                                                             446 non-null    object
 30  Ranking Semester 4                                                                            356 non-null    float64
 31  Nilai Rata-rata Semester 4 (Nilai Pengetahuan)                                                408 non-null    float64
 32  Ranking Semester 5                                                                            350 non-null    float64
 33  Nilai Rata-rata Semester 5 (Nilai Pengetahuan)                                                409 non-null    float64
 34  Ranking Semester 6                                                                            328 non-null    float64
 35  Nilai Rata-rata Semester 6 (Nilai Pengetahuan)                                                391 non-null    float64
 36  Nama Ayah                                                                                     446 non-null    object
 37  Status Ayah                                                                                   446 non-null    object
 38  Status Hubungan                                                                               446 non-null    object
 39  Pendidikan Ayah                                                                               446 non-null    object
 40  Pekerjaan Ayah                                                                                446 non-null    object
 41  Detail Ayah                                                                                   446 non-null    object
 42  Jumlah Tanggungan Tidak Termasuk Ayah dan Ibu                                                 446 non-null    int64
 43  No. Handphone Ayah                                                                            446 non-null    object
 44  Nama Ibu                                                                                      446 non-null    object
 45  Status Ibu                                                                                    446 non-null    object
 46  Pendidikan Ibu                                                                                446 non-null    object
 47  Pekerjaan Ibu                                                                                 446 non-null    object
 48  Detail Ibu                                                                                    446 non-null    object
 49  No. Handphone Ibu                                                                             446 non-null    object
 50  Kepemilikan                                                                                   446 non-null    object
 51  Tahun Perolehan (4 digit tahun)                                                               446 non-null    int64
 52  Sumber Listrik                                                                                446 non-null    object
 53  Daya Listrik (KWh)                                                                            446 non-null    int64
 54  Luas Tanah (M2)                                                                               446 non-null    int64
 55  NJOP per Meter (Rupiah)                                                                       446 non-null    int64
 56  Luas Bangunan (M2)                                                                            446 non-null    int64
 57  Bahan Atap                                                                                    446 non-null    object
 58  Bahan Lantai                                                                                  446 non-null    object
 59  Bahan Tembok                                                                                  446 non-null    object
 60  Mandi/Cuci/Kakus                                                                              446 non-null    object
 61  Sumber Air Utama                                                                              446 non-null    object
 62  Jarak Dari Pusat Kota (KM)                                                                    446 non-null    int64
 63  Jumlah Orang Tinggal Di Rumah Termasuk Orang Tua                                              446 non-null    int64
 64  Penghasilan Ayah (Rupiah)                                                                     446 non-null    int64
 65  Penghasilan Ibu (Jika Tidak Bekerja Maka Tulis Angka Nol Saja)                                446 non-null    int64
 66  Hutang Kepada Pihak Lain (Rupiah)                                                             269 non-null    float64
 67  Cicilan Hutang Per Bulan (Rupiah)                                                             297 non-null    float64
 68  Total Piutang Kepada Pihak Lain (Rupiah)                                                      269 non-null    float64
 69  Cicilan Piutang Dari Pihak Lain (Rupiah)                                                      266 non-null    float64
 70  Tabungan Keluarga (Rupiah)                                                                    278 non-null    float64
 71  Rencana Tinggal                                                                               446 non-null    object
 72  Dukungan Keluarga                                                                             446 non-null    object
 73  Transportasi Asal                                                                             446 non-null    object
 74  Transportasi Harian                                                                           446 non-null    object
 75  Biaya Transportasi (Rupiah)                                                                   434 non-null    float64
 76  Kartu Peserta KIP Kuliah                                                                      446 non-null    object
 77  Bukti Pendaftaran PMB UBSI                                                                    445 non-null    object
 78  Scan KTP                                                                                      446 non-null    object
 79  Scan Kartu Keluarga (KK)                                                                      446 non-null    object
 80  Scan Kartu KIP/PKH/KKS/DTKS/SKTM/Surat dari Panti Asuhan/SKTM dari Lingkungan Tempat Tinggal  446 non-null    object
 81  Scan Ijazah/Surat Keterangan Lulus (Depan dan Belakang)                                       433 non-null    object
 82  Scan Rapot Semester 4                                                                         422 non-null    object
 83  Scan Rapot Semester 5                                                                         423 non-null    object
 84  Scan Rapot Semester 6                                                                         405 non-null    object
 85  Foto Pribadi/Pas Foto (Pose Formal dengan Background Merah/Biru)                              446 non-null    object
 86  Foto Keluarga                                                                                 446 non-null    object
 87  Foto Rumah Tampak Depan                                                                       446 non-null    object
 88  Foto Ruang Tamu                                                                               446 non-null    object
 89  Keseluruhan Berkas                                                                            446 non-null    object
 90  PERNYATAAN                                                                                    446 non-null    object
 91  Unnamed: 91                                                                                   287 non-null    float64
dtypes: float64(13), int64(14), object(65)
memory usage: 320.7+ KB

In [6]:
#7. Melihat Statistik Descriptive Data Numerik
df.describe()

       Nomor Pokok Sekolah Nasional (NPSN)  ...  Unnamed: 91
count                         4.460000e+02  ...        287.0
mean                          2.607129e+07  ...          1.0
std                           1.771335e+07  ...          0.0
min                           1.026198e+06  ...          1.0
25%                           2.010733e+07  ...          1.0
50%                           2.023744e+07  ...          1.0
75%                           2.032984e+07  ...          1.0
max                           2.023374e+08  ...          1.0

[8 rows x 27 columns]

In [7]:
#8. Menampilkan 10 Provinsi terbanyak dalam dataframe
dff= df['Provinsi'].value_counts()
dff.head(10)
pd.DataFrame(dff)

                  Provinsi
Jawa Barat             101
DKI Jakarta             50
Jawa Tengah             47
DKI JAKARTA             44
Jawa barat              35
...                    ...
jawa barat               1
JAWABARAT                1
JAKARTA                  1
JAWATENGAH               1
Kalimantan barat         1

[61 rows x 1 columns]

In [21]:
#9. Menampilkan data dengan alamat mengandung kata jl.
df_alamat=df[['Nama Lengkap Siswa','Alamat','Nomor Induk Siswa Nasional (NISN)']]
df_alamat[df_alamat.Alamat.str.contains('Jl.')]

            Nama Lengkap Siswa  ... Nomor Induk Siswa Nasional (NISN)
0           PRASETYO WIDIHARTO  ...                        3022524558
1        Andika Tulus Pangestu  ...                          33732460
3                Erlin meilani  ...                          34417094
5          Adelia Ananda Putri  ...                          18394804
17           Audy Nur Amaliyah  ...                          20684722
..                         ...  ...                               ...
436      Rahul Sulistio Rahman  ...                          23092201
437                  SURTI AYU  ...                          31975005
438  Nur Indah Dwi Permatasari  ...                          17234308
443      Muhammad Faqih Ardana  ...                          25377312
445   HAIKAL WALY ASH SHIDDIEQ  ...                          37642779

[115 rows x 3 columns]

In [29]:
#10. Menampilkan data dengan per provinsi dengan menampilkan rata-rata nilai semester 4, 5, dan 6 tampil terurut dari paling tinggi ke paling rendah
dfff=df[['Provinsi','Nilai Rata-rata Semester 4 (Nilai Pengetahuan)','Nilai Rata-rata Semester 5 (Nilai Pengetahuan)','Nilai Rata-rata Semester 6 (Nilai Pengetahuan)']]
df_m=dfff.groupby(['Provinsi'],sort=True).mean()
df_m.sort_values(['Nilai Rata-rata Semester 4 (Nilai Pengetahuan)'],ascending=False)

                 Nilai Rata-rata Semester 4 (Nilai Pengetahuan)  ...  Nilai Rata-rata Semester 6 (Nilai Pengetahuan)
Provinsi                                                         ...
DKI JAKARTA                                       189352.550000  ...                                     3536.923077
Jawabarat                                          54065.000000  ...                                    47955.000000
Jawa tengah                                        47855.388889  ...                                     2210.882353
Jawa Tengah                                        31467.666667  ...                                       59.666667
Jawa Barat                                         21433.750000  ...                                   212009.750000
...                                                         ...  ...                                             ...
JAWABARAT                                                   NaN  ...                                             NaN
Jawa Baarat                                                 NaN  ...                                             NaN
Sulawesi tengah                                             NaN  ...                                             NaN
jawa barat                                                  NaN  ...                                             NaN
jawa tengah                                                 NaN  ...                                             NaN

[61 rows x 3 columns]